# Services
INFINITEPAY_BASE_URL=http://infinitepay:8000
AUTH_BASE_URL=http://auth:8000
JWT_BASE_URL=http://jwt:8000
NOTIFY_BASE_URL=http://notify:8000
PROFILES_BASE_URL=http://profiles:8000
ROLES_BASE_URL=http://roles:8000
ADDRESSES_BASE_URL=http://addresses:8000

# Business
HUB_DEFAULT=00000000-0000-0000-0000-000000000000

# HTTP
HTTP_TIMEOUT=10

# Outbound webhooks
WEBHOOK_ENROLLMENT_URL=
WEBHOOK_HUB_URL=

# Environment
ENVIRONMENT=development
DEBUG=false
