[Unit]
Description=Auth Service
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/auth
EnvironmentFile=/root/auth/.env
ExecStart=/root/auth/.venv/bin/uv run uvicorn app.main:app --host 0.0.0.0 --port 80 --workers 4 --log-level warning
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
